{% extends "base.html" %}

{% block content %}
{% for item in component%}
<div class="col-md6 border rounded">
    <h2>{{item.name}}</h2>
    <div>
        Тип - {{item.types}}, Дата добавления - {{item.created_date}}
    </div>
    <div>
        <h3>Характеристики:</h3>
        {{item.specifications}}
    </div>
</div>
<h3><a href="http://127.0.0.1:8070/tovar/{{item.name}}">Скрыть отзывы</a></h3>
{% endfor %}
{% for item in reviews%}
<div class="col-md6 border rounded">
    <div>
    <a class="btn btn-primary " href="tovar/{{item.name}}">{{item.name}}</a><br>
        Плюсы<br>
        {{ item.plus }}<br>
        Минусы<br>
        {{ item.minus }}<br>
        В общем<br>
        {{ item.content }}<br>
        Дата добавления - {{item.created_date}}
    </div>
</div>
{% endfor %}
{% if current_user.is_authenticated %}
<h3>Добавить отзыв</h3>
<form class="container" method="post">
    <div class="form-group">
        <label for="plus">Плюсы</label>
        <textarea class="form-control" id="plus" name="plus"></textarea>
    </div>
    <div class="form-group">
        <label for="about">Минусы</label>
        <textarea class="form-control" id="minus" name="minus"></textarea>
    </div>
    <div class="form-group">
        <label for="about">В общем</label>
        <textarea class="form-control" id="about" name="about"></textarea>
    </div>
    <div class="form-group">
        <label for="classSelect">Оценка</label>
        <select class="form-control" id="classSelect" name="class">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>
{% endif %}
{% endblock %}